compartment_id               = ""
instance_availability_domain = "uFhv:AP-MUMBAI-1-AD-1"
instance_shape               = "VM.Standard.A1.Flex"
instance_image_id            = "ocid1.image.oc1.ap-mumbai-1.aaaaaaaaphswi2ognlnrw73hroduiqzr3ff34rt3fd5tmdte7vidnsygmsha"
instance_ssh_authorized_keys = ""
instance_name                = "portfolio-instance"
instance_cpus                = "2"
instance_memory_in_gbs       = "12"
instance_subnet_id           = ""
user_ocid                    = ""
private_key_fingerprint      = ""
user_private_key_path        = ""